:root > * {
    --md-primary-fg-color:        #155f83;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }
  
  .md-typeset h1,h2,h3{
    color:#155f83;
  }
  
  .md-typeset h2,h3{
    font-weight:600;
  }